@import "_variables.sass"

@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/base/_all"

@import "bulma/sass/elements/button.sass"
@import "bulma/sass/components/navbar.sass"

.navbar
  position: fixed
  z-index: 999
  right: 1rem
  top: 1rem
  border-radius: 2px

// leaflet overides
.leaflet-container
  width: 100%
  height: 100vh
